@import url(https://fonts.googleapis.com/css?family=Inconsolata);
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        html {
            background: #eee;
        }
		* {
			font-family: "Inconsolata", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
		}
#searchInit label{
    margin-bottom: 5px;
display: inline-block;
font-size: 2em;
}
#participants video{
    border: 2px solid black;
    width: 240px;
    margin: 10px;
}

.aSection{
     margin: 5px 20px;
}

 #map-canvas { 
    height: 400px;
    width: 400px;
}
#createRoom{
    display: block;
}
.partneres{
    border: 2px solid green;
}
.cortina{
  background: white;
width: 628px;
height: 402px;
border: 1px solid red;
position: absolute;
z-index: 5;

}
.logo{
background: url(https://d3lyqimqlfvq37.cloudfront.net/images/oelogos.png);

height: 64px;
padding: 0 0px 12px 0;
width: 205px;

}
.availist li{
    font-size: 1.6em;
    list-style: none;
    margin: 7px;
    -webkit-border-radius: 6px;
    background: #EFBD08;
    border-radius: 6px;
    padding: 8px;
    width: 350px;
}
#rooms-list td{
    font-size: 1.5em;
    color: #efbd08;
    font-weight: bold;
}
#rooms-list td  button{
    margin: 5px;
}
.navbar .nav {
position: relative;
right: 0;
display: block;
float: right;
margin: 0 10px 0 0;
}
.navbar-inverse .brand {
color: #999999;
display: none;

}
#makeRoom h3{
    display: inline-block;
}

.navbar-fixed-top{
    background: url(http://web2-poc-node2.thinkglish.com:8080/images/bg-header.gif) repeat-x;
}
#mCanvas{
    float: right;
}
.availist{float: left;}

#footer_wrap {
background: #323232;
padding: 0;
font-size: 0.7em;
margin-top: 30px;
width: 100%;
overflow: hidden;
display: block;}
#footer_content {
position: relative;
margin: 0px auto 0px auto;
width: 980px;
}

#footer_content {
    position: relative;
    margin: 0px auto 0px auto;
    width: 980px;
}

#footer_content img {
    float: left;
}

#footer_content .home_pic.footer_anchor_pic {
    left: 0;
}

#footer_content .footer_anchor_pic {
    position: absolute;
    right: 70px;
    top: -352px;
}

#footer_content p {
    clear: both;
    color: #efefef;
    display: inline;
    float: right;
    padding: 0;
    text-align: left;
    width: 685px;
    font-size: 14px;
}

#site_map {
    margin: 0 0 15px 243px;
    padding: 0 0 15px 0;
    width: 690px;
}

#site_map dl {
    display: inline;
    float: left;
    width: 155px;
}

#site_map dl.first {
    width: 190px;
}

#site_map dl.first dt {
    padding-left: 35px;
}

#site_map dl.first dd {
    padding-left: 35px;
}

#site_map dl.long {
    width: 167px;
    margin-left: 13px;
}

#site_map dl dt {
    font-family: Cambria, Helvetica, arial, sans-serif;
    font-size: 20px;
    color: #efefef;
    padding-bottom: 10px;
}

#site_map dl dd {
    line-height: 20px;
}

#site_map dl dd a {
    padding-left: 10px;
    font-family: "Trebuchet MS", Cambria, Helvetica, arial, sans-serif;
    color: #5798d0;
    font-style: normal;
    display: block;
    font-size: 14px;
}

#site_map dl.social_media{
    width: 125px;
}

#site_map dl.social_media dd {
    margin-bottom: 4px;
    background: none;
}

#site_map dl.social_media dd .footer_sprites a {
    margin-left: 22px;
    background: #323232;
}

#icn_social_twitter_gif {
    height: 19px;
    width: 19px;
    background-position: -81px 0px;
}

#icn_social_youtube_gif {
    height: 20px;
    width: 20px;
    background-position: -25px 0px;
}

#icn_social_facebook_gif {
    height: 19px;
    width: 19px;
    background-position: -129px 0px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #999999;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
font-size: 1.2em;
}