#asesorVideoContainer{
	border: 1px solid red;
	width: 320px;
	height: 240px;
	background: green;
}

#visitorVideoContainer{
width: 180px;
height: 110px;
background: blue;
top: -45px;
position: absolute;
left: 290px;
}

#highlight_slider_content li div {
	margin: 23px 0 0 312px;	
}
